<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../public/css/post.css">
<article class="post">
  <h1>{{ post.title }}</h1>
  {{!-- <address>Posted by {{post.poster.name}}</address> --}}
  <p>{{ post.body }}</p>

  {{#if post.tags.length}}
    <h3>Tags</h3>
    <ul>
      {{#each post.tags}}
        <li><a href="/posts/tag/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if post.replies.length}}
    <h3>Replies</h3>
    <ul>
      {{#each post.replies}}
        <li><a href="/posts/replies/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if post.images.length}}
    <h3>Images</h3>
    <ul>
      {{#each post.images}}
        <h2><img src="/public/images/{{ this }}.jpg" ></h2>
      {{/each}}
    </ul>
  {{/if}}

  <form action="/replies" method="POST" class="reply-form">
    <label>
      reply
      <input type="text" name="text" placeholder="text" class="full-width-input" />
      
    </label>
    <br>    
    <button type="submit">submit</button>
</form>
  <a href="/posts">Back to All Posts</a>
</article>
